<app-hero/>
<section
  class="flex min-h-[60vh] w-full place-content-center place-items-center gap-[10%] bg-[#fff] p-4 px-[20%] max-md:flex-col max-md:gap-[4%] max-md:px-[5%]">
  <div class="flex h-[350px] w-[350px] overflow-hidden rounded-md max-md:mt-[5%] max-md:h-[300px] max-md:w-[300px]">
    <img
      src="./assets/images/homepage/cat.jpg"
      alt="coffee"
      class="w-full object-cover"
    />
  </div>
  <div
    class="flex h-full flex-col gap-[5%] max-md:mt-2 max-md:gap-[3%] max-md:text-center"
  >

    <h2 class="primary-text-color text-3xl font-medium max-md:text-2xl">
      Les recettes de catherine
    </h2>
    <h3 class="text-5xl max-md:text-3xl">Bienvenue à vous ! </h3>
    <div class="mt-6 max-w-[350px] text-justify">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
    </div>
    <a href="#" class="btn mt-5 transition-transform duration-[0.3s] hover:translate-x-2 max-md:mx-auto">
      <span>Au fourneau </span>
      <i class="bi bi-arrow-right"></i>
    </a>
  </div>
  <div></div>

</section>

<app-recipe-menu/>




