<section class="relative flex h-[100vh] w-full max-w-[100vw] flex-col overflow-hidden max-md:h-[100dvh]" id="hero-section">
  <img
    src="./assets/images/homepage/paysage.jpg"
    alt="Restaurant"
    class="h-full w-full object-cover"
  />
  <div class="absolute h-full w-full bg-[#0000007d]"></div>
  <div class="absolute left-[50%] top-[50%] flex w-full translate-x-[-50%] translate-y-[-50%] flex-col place-content-center place-items-center gap-4 p-2 text-white">

    <h1 class="khula-font text-7xl font-semibold max-md:text-center max-md:text-5xl">
      <a [routerLink]="['']">
        <img
          src="assets/logo/logo.png"
          alt="kitchen"
          class=""
        />
      </a>
    </h1>
    <div class="mt-3 flex w-full place-content-center gap-[2%] max-md:gap-[4%]">
      <a [routerLink]="['explore']" class="flex rounded-full bg-white p-3 px-[20px] text-black transition-colors duration-[0.3s] hover:bg-[#BE3345] hover:text-white">
        Explorer mes petites recettes
      </a>
    </div>
  </div>
</section>
